.sharebuttons {
	overflow:hidden;
}

.sharebuttons > ul.theme {
	list-style-type:none;
	margin:-4px;
	padding:0;
}

.sharebuttons > ul.theme:after {
	content:"";
	display:block;
	clear:both;
}

.sharebuttons > ul.theme > li {
	float:left;
}

.sharebuttons > ul.theme > li > a {
	margin:4px;
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-indent:101%;
	background-repeat:no-repeat;
	background-position:center;
}

.sharebuttons > ul.text > li > a {
	text-indent:0;
}
