/* original contao icons */

.sharebuttons > ul.contao > li > a {
	width:16px;
	height:16px;
}

.sharebuttons > ul.contao > li > a.facebook {
	background-image:url('../../../../assets/contao/images/facebook.gif');
}

.sharebuttons > ul.contao > li > a.twitter {
	background-image:url('../../../../assets/contao/images/twitter.gif');
}

.sharebuttons > ul.contao > li > a.gplus {
	background-image:url('../../../../assets/contao/images/gplus.gif');
}

.sharebuttons > ul.contao > li > a.linkedin,
.sharebuttons > ul.contao > li > a.xing,
.sharebuttons > ul.contao > li > a.mail,
.sharebuttons > ul.contao > li > a.tumblr,
.sharebuttons > ul.contao > li > a.pinterest,
.sharebuttons > ul.contao > li > a.reddit,
.sharebuttons > ul.contao > li > a.whatsapp {
	text-indent:0;
}
