/* source: http://wegraphics.net/downloads/free-long-shadow-social-media-icons/ */

.sharebuttons > ul.shadow > li > a {
	width:32px;
	height:32px;
}

.sharebuttons > ul.shadow > li > a.facebook {
	background-image:url('shadow/facebook.png');
}

.sharebuttons > ul.shadow > li > a.twitter {
	background-image:url('shadow/twitter.png');
}

.sharebuttons > ul.shadow > li > a.gplus {
	background-image:url('shadow/gplus.png');
}

.sharebuttons > ul.shadow > li > a.linkedin {
	background-image:url('shadow/linkedin.png');
}

.sharebuttons > ul.shadow > li > a.xing {
	text-indent:0;
}

.sharebuttons > ul.shadow > li > a.mail {
	text-indent:0;
}