/* from http://simplesharingbuttons.com/ */

.sharebuttons_simpleflat > ul > li > a {
	width:32px;
	height:32px;
}

.sharebuttons_simpleflat > ul > li > a.facebook {
	background-image:url('simpleflat/facebook.png');
}

.sharebuttons_simpleflat > ul > li > a.twitter {
	background-image:url('simpleflat/twitter.png');
}

.sharebuttons_simpleflat > ul > li > a.gplus {
	background-image:url('simpleflat/gplus.png');
}

.sharebuttons_simpleflat > ul > li > a.linkedin {
	background-image:url('simpleflat/linkedin.png');
}

.sharebuttons_simpleflat > ul > li > a.xing {
	display:none;
}

.sharebuttons_simpleflat > ul > li > a.mail {
	background-image:url('simpleflat/email.png');
}