.sharebuttons {
	overflow:hidden;
}

.sharebuttons > ul {
	list-style-type:none;
	margin:-4px;
	padding:0;
}

.sharebuttons > ul:after {
	content:"";
	display:block;
	clear:both;
}

.sharebuttons > ul > li {
	float:left;
}

.sharebuttons > ul > li > a {
	margin:4px;
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-indent:100%;
	background-repeat:no-repeat;
	background-position:center;
}