/* source: http://simpleicons.org/ */

.sharebuttons > ul.simpleicons_black > li > a {
	width:32px;
	height:32px;
}

.sharebuttons > ul.simpleicons_black > li > a.facebook {
	background-image:url('simpleicons/facebook-32-black.png');
}

.sharebuttons > ul.simpleicons_black > li > a.twitter {
	background-image:url('simpleicons/twitter-32-black.png');
}

.sharebuttons > ul.simpleicons_black > li > a.gplus {
	background-image:url('simpleicons/googleplus-32-black.png');
}

.sharebuttons > ul.simpleicons_black > li > a.linkedin {
	background-image:url('simpleicons/linkedin-32-black.png');
}

.sharebuttons > ul.simpleicons_black > li > a.xing {
	background-image:url('simpleicons/xing-32-black.png');
}

.sharebuttons > ul.simpleicons_black > li > a.mail {
	background-image:url('simpleicons/email-32-black.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (-o-min-device-pixel-ratio: 13/10),
       only screen and (min-resolution: 120dpi) 
{
	.sharebuttons > ul.simpleicons_black > li > a {
		background-size:100% auto;
	}

	.sharebuttons > ul.simpleicons_black > li > a.facebook {
		background-image:url('simpleicons/facebook-64-black.png');
	}

	.sharebuttons > ul.simpleicons_black > li > a.twitter {
		background-image:url('simpleicons/twitter-64-black.png');
	}

	.sharebuttons > ul.simpleicons_black > li > a.gplus {
		background-image:url('simpleicons/googleplus-64-black.png');
	}

	.sharebuttons > ul.simpleicons_black > li > a.linkedin {
		background-image:url('simpleicons/linkedin-64-black.png');
	}

	.sharebuttons > ul.simpleicons_black > li > a.xing {
		background-image:url('simpleicons/xing-64-black.png');
	}

	.sharebuttons > ul.simpleicons_black > li > a.mail {
		background-image:url('simpleicons/email-64-black.png');
	}
}