/* source: http://simplesharingbuttons.com/ */

.sharebuttons > ul.simpleflat > li > a {
	width:32px;
	height:32px;
}

.sharebuttons > ul.simpleflat > li > a.facebook {
	background-image:url('simpleflat/facebook.png');
}

.sharebuttons > ul.simpleflat > li > a.twitter {
	background-image:url('simpleflat/twitter.png');
}

.sharebuttons > ul.simpleflat > li > a.gplus {
	background-image:url('simpleflat/gplus.png');
}

.sharebuttons > ul.simpleflat > li > a.linkedin {
	background-image:url('simpleflat/linkedin.png');
}

.sharebuttons > ul.simpleflat > li > a.xing {
	text-indent:0;
}

.sharebuttons > ul.simpleflat > li > a.mail {
	background-image:url('simpleflat/email.png');
}