/* source: http://simplesharingbuttons.com/ */

.sharebuttons > ul.simpleflat > li > a {
	width:32px;
	height:32px;
	background-image:url('sprites-32.png');
}

.sharebuttons > ul.simpleflat > li > a.facebook {
	background-position:-40px 0;
}

.sharebuttons > ul.simpleflat > li > a.twitter {
	background-position:-160px 0;
}

.sharebuttons > ul.simpleflat > li > a.gplus {
	background-position:-80px 0;
}

.sharebuttons > ul.simpleflat > li > a.linkedin {
	background-position:-120px 0;
}

.sharebuttons > ul.simpleflat > li > a.xing {
	background-position:-200px 0;
}

.sharebuttons > ul.simpleflat > li > a.mail {
	background-position:0 0;
}

.sharebuttons > ul.simpleflat > li > a.tumblr {
	background-position:-240px 0;
}

.sharebuttons > ul.simpleflat > li > a.pinterest {
	background-position:-280px 0;
}

.sharebuttons > ul.simpleflat > li > a.reddit {
	background-position:-320px 0;
}

.sharebuttons > ul.simpleflat > li > a.whatsapp {
	background-position:-360px 0;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (-o-min-device-pixel-ratio: 13/10),
       only screen and (min-resolution: 120dpi) 
{
	.sharebuttons > ul.simpleflat > li > a {
		background-size:auto 32px;
		background-image:url('sprites-64.png');
	}
}
