/* source: http://simplesharingbuttons.com/ */

.sharebuttons > ul.simpleflat > li > a {
	width:32px;
	height:32px;
	background-image:url('sprites-32.png');
}

.sharebuttons > ul.simpleflat > li > a.facebook {
	background-position:-40px 0;
}

.sharebuttons > ul.simpleflat > li > a.twitter {
	background-position:-160px 0;
}

.sharebuttons > ul.simpleflat > li > a.gplus {
	background-position:-80px 0;
}

.sharebuttons > ul.simpleflat > li > a.linkedin {
	background-position:-120px 0;
}

.sharebuttons > ul.simpleflat > li > a.xing {
	background-position:-200px 0;
}

.sharebuttons > ul.simpleflat > li > a.mail {
	background-position:0 0;
}