/* source: http://www.twelveskip.com/resources/icons/1091/boxxed-flat-social-media-icons */

.sharebuttons > ul.boxxed_16 > li > a {
	width:16px;
	height:16px;
	background-image:url('sprites-16.png');
}

.sharebuttons > ul.boxxed_16 > li > a.facebook {
	background-position:-20px 0;
}

.sharebuttons > ul.boxxed_16 > li > a.twitter {
	background-position:-80px 0;
}

.sharebuttons > ul.boxxed_16 > li > a.gplus {
	background-position:-40px 0;
}

.sharebuttons > ul.boxxed_16 > li > a.linkedin {
	background-position:-60px 0;
}

.sharebuttons > ul.boxxed_16 > li > a.xing {
	background-position:-100px 0;
}

.sharebuttons > ul.boxxed_16 > li > a.mail {
	background-position:0 0;
}

.sharebuttons > ul.boxxed_16 > li > a.tumblr {
	background-position:-120px 0;
}

.sharebuttons > ul.boxxed_16 > li > a.pinterest {
	background-position:-140px 0;
}

.sharebuttons > ul.boxxed_16 > li > a.reddit {
	background-position:-160px 0;
}

.sharebuttons > ul.boxxed_16 > li > a.whatsapp {
	background-position:-180px 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (-o-min-device-pixel-ratio: 13/10),
       only screen and (min-resolution: 120dpi) 
{
	.sharebuttons > ul.boxxed_16 > li > a {
		background-size:auto 16px;
		background-image:url('sprites-32.png');
	}
}
